body {
 background-image: url("../img/background/blackwood.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center; 
}

.scroll {
  background-image: url("../img/background/texture.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.navbar-default {
  background-color: unset;
}

/*fieldset{
	margin:5px auto !important;
	padding:2px !important;
}

legend{
	font-size: 8px !important;
	font-weight:bold !important;
    color: red !important;
}*/

.red {
  color: red !important;
}

.yellow {
  color: yellow;
}